.App {
  font-family: sans-serif;
  text-align: center;
}

.container {
  height: 200px;
  width: 200px;
  background-color: green;
  position: relative;
}

.overlay {
  opacity: 0.7;
  background-color: skyblue;

  @mixin transition-defaults {
    position: absolute;
    transition-duration: 500ms;
    transition-property: width, height;
  }

  &-left {
    @extend .overlay;
    @include transition-defaults;
    left: 0;
    height: 100%;
    width: 50%;
  }

  &-center {
    @extend .overlay;
    @include transition-defaults;
    height: 100%;
    width: 100%;
  }

  &-right {
    @extend .overlay;
    @include transition-defaults;
    right: 0;
    height: 100%;
    width: 50%;
  }
}
